*.pyc
ENV
onisite/settings_local.py
onisite/urls.py
*.log
data/batches
data/ocr
data/word_coordinates
.coverage
static/compiled
static/cov
static/sitemaps

# :P
.DS_Store

#Ignore all user added themes, but keep default
themes/*
!themes/default

# Ignore all plugins, but keep the directory module and readme
onisite/plugins/*
!onisite/plugins/__init__.py
!onisite/plugins/README.md

# Ignore Docker overrides
/docker-compose.override.yml
.env

#
# dotnet land
#
.vs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml